<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0" name="viewport">
    <title>Tuber</title><!-- CSS  -->
    <!--This is used for mother fucking jquery bitches-->

    <script charset="utf-8" src="jquery/dist/jquery.js">
    </script><!--This is used for mother fucking material design from google bitches=-->
    <link charset="utf-8" href="Materialize/bin/materialize.css" media="screen" rel="stylesheet" title="no title">
    <!-- The templar knights when they took jerusalem niggah-->

    <script charset="utf-8" src="Materialize/bin/materialize.js">
    </script><!--Google icons because fuck you=-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="rateYo/src/jquery.rateyo.css" rel="stylesheet">

    <% include('partials/_google.ejs') %>
</head>
<body>
    <header>
        <nav class="" role="navigation" style="background-color: #0058FF">
            <div class="nav-wrapper container">
                <a class="brand-logo" href="/" id="logo-container">Tuber</a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a class='dropdown-button' data-activates='dropdown1' href='#'><%= user.local.email || user.facebook.email %></a>
                    </li><!-- Dropdown Structure -->
                    <li style="list-style: none; display: inline">
                        <ul class='dropdown-content' id='dropdown1' style="margin-top: 65px;">
                            <li>
                                <a class=" blue white-text" href="/profile">Profile</a>
                            </li>
                            <li>
                                <a class="red white-text" href="/logout">Logout</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/api">API</a>
                    </li>
                </ul>
                <ul class="side-nav" id="nav-mobile">
                    <li style="list-style: none"><br></li>
                    <li class="center">
                        <a href="/api">API</a>
                    </li>
                </ul><a class="button-collapse" data-activates="nav-mobile" href="#"><i class=
                "material-icons">menu</i></a>
            </div>
        </nav>
    </header><br>
    <br>
    <main>
        <div class="container">

          <% if (user.facebook) { %>
            <div class="center">
              <b class="center">FaceBook Information</b><hr>
            </div>
          <% } else { %>
            <div class="center">
              <b class="center">User Information</b><hr>
            </div>
          <% } %>



          <div class="row">
            <form class="col s12">
              <div class="row">

                <% if (user.facebook) { %>
                  <div class="input-field col s6">
                    <input disabled value="<%= user.facebook.firstName %>" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                  </div>
                <% } else if (user.local){ %>
                  <div class="input-field col s6">
                    <input placeholder="<%= user.local.fisrtName %>" id="first_name" type="text" class="validate" name="first">
                    <label for="first_name">First Name</label>
                  </div>
                <% } %>

                <% if (user.facebook) { %>
                  <div class="input-field col s6">
                    <input disabled value="<%= user.facebook.lastName %>" id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                  </div>
                </div>
                <% } else if(user.local) { %>
                  <div class="input-field col s6">
                    <input disabled value="<%= user.local.lastName %>" id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                  </div>
                </div>
                <% } %>


                <% if (user.facebook){ %>

                <% } else if (user.local) { %>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="password" type="password" class="validate">
                      <label for="password">Password</label>
                    </div>
                  </div>
                <% } %>

                <% if (user.facebook) {%>
                  <div class="row">
                    <div class="input-field col s12">
                      <input disabled value="<%= user.facebook.email %>" id="email" type="email" class="validate">
                      <label for="email">Email</label>
                    </div>
                  </div>
                <% } else if (user.local) { %>
                  <div class="row">
                    <div class="input-field col s12">
                      <input value="<%= user.local.email %>" id="email" type="email" class="validate">
                      <label for="email">Email</label>
                    </div>
                  </div>
                <% } %>
            </form>
          </div>



          <% if (!user.isTutor) { %>

          <% } else { %>
            <div class="center">
              <!-- Switch -->
              <label for="" style="font-size: 20px;">Enable Tutor Mode?</label>
              <div class="switch">
                <label>
                  Off
                  <input type="checkbox">
                  <span class="lever"></span>
                  On
                </label>
              </div>
            </div>
          <% } %>



        </div>
    </main>
</body>
</html>
